*{
    padding: 0;
    margin: 0%;
}

:root {
    --gradient: linear-gradient(49deg, hsl(263, 100%, 32%) 0%, rgba(218,112,255,1) 100%); 
    --shadow:  rgba(0, 0, 0, 0.366);
}

.usuario-body {
    display: grid;
    grid-template-columns: 110px 1fr;
}
.actions-user{
    width: 100%;
    justify-content: right;
    display: flex;
}

thead {
    background-color: #99bde1;
    color: rgb(255, 255, 255);
    height: 40px;
}

.table-user {
    border-collapse: collapse; 
}

th,
td {
    width: 400px;
    text-align: center;
    color: whitesmoke;
}

tr:nth-child(even) {
    background-color: #99bde1;
}


.title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

.usuario-main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.usuario-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.table-responsive {
    overflow-x: auto;
}

.table-user {
    width: 100%;
}